apache-airflow[gcp,postgres]==2.5.3           # matches `composer-2.6.5-airflow-2.5.3`
google-api-core==2.17.0                       # matches `composer-2.6.5-airflow-2.5.3`
google-cloud-bigquery==3.17.2                 # matches `composer-2.6.5-airflow-2.5.3`
google-cloud-storage==2.14.0                  # matches `composer-2.6.5-airflow-2.5.3`