eth-hash<=0.7.0
ethereum-etl-temp==2.3.4                      # Requires web3>=6
google-api-core==2.17.0                       # matches `composer-2.6.5-airflow-2.5.3`
google-cloud-bigquery==3.17.2                 # matches `composer-2.6.5-airflow-2.5.3`
google-cloud-storage==2.14.0                  # matches `composer-2.6.5-airflow-2.5.3`
jinja2==3.1.2                                 # matches `composer-2.6.5-airflow-2.5.3`
web3==6.15.1

